#include <windows.h>
// Dedicated selector resource; do not alter the research builds' dialog.
202 DIALOGEX 0, 0, 186, 54
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD | WS_VISIBLE
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "Chamfer 1", 1001, "Button", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 8, 8, 78, 18
    CONTROL "Chamfer 2", 1002, "Button", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON | WS_TABSTOP, 96, 8, 78, 18
    LTEXT "Edit stage: Chamfer 1 / Chamfer 2", -1, 8, 32, 172, 14
END